$gray: #b9b9b9;
$gray-light: #d8d8d8;
$gray-lighter: #F7F7F7;
$gray-dark: #818a8f;
$gray-darker: #747678;
$gray-darkest: #2d2e34;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #CBCBCB;
$gray-450: #a0a0a0;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;
